* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
input{
    display: block;
    padding: 4px 12px;
    margin:20px;
}
.logo{
    height: 100px;
}
header{
    display:flex;
    justify-content:space-between;
    margin: 10px 110px;
}
nav{
    padding: 20px;
    padding-right: 820px;
    padding-left: 0px;
    background-color: #F3F3F3;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0px 110px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav#navBar ul li:first-child,
ul:last-child {
    flex-grow: 0; /* Prevents extra spacing on the first and last items */
    text-align: left; /* Aligns first item to the left */
}
/* title h1 h2 */
#title h1{
   color: #F19731;
   font-size: 32px;
}
#title h2{
   color: #1d1d1d;
   font-size: 24px;
   font-weight: regular;
}
select{
    padding: px;
}
 div#title{
    margin: 10px 110px;
 }
 hr{
    border: none;
    height: 1.5px;
    background-color: rgb(223, 223, 223);
    margin-bottom: 20px;
 }
 section#form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 110px;
    gap: 20px;
 }
 .secLeft, .secRight{
    padding:20px;
    border: 1.5px solid rgb(223, 223, 223);
    border-radius: 5px;
 }
 div .birth{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
 }
 .warn{
    color: rgb(84, 84, 84);
    font-size: 14px;
 }
 label{
    display: block;
    margin: 14px 0px 4px 0px;
 }
 input{
    margin: 0px;
    margin: 2px 0px;
    width: 100%;
    height: 34px;
 }
 select{
    width: 100%;
    padding: 4px;
    height: 34px;
    font-size: 14px;
 }
 .radioB{
    padding: opx;
    display: inline;
    width:16px;
    height: 16px;
 }
 section.submit{
    margin: 10px 110px;
    display: inline-flex;
    flex-direction: column;
 }
 button.submit-button{
    padding: 12px 24px;
    background-color: rgb(0, 149, 0);
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
 }
 button.submit-button:hover{
   background-color: rgb(1, 181, 1);
 }
 span.btnstatus{
   margin: 6px 0px;
 }
 /* gender select radio buttons */
div.gender--select{
   display: flex;
   flex-direction: rows;
   gap: 40px;
}
/* Footer */
Footer.footer{
   background-color: #F3F3F3;
   padding: 2px;
}
Footer p{
   margin: 10px 110px;
   color: #1d1d1d;
}
/* upload file */
input#picture{
   border: 1.5px solid rgb(0, 0, 0);
}
input#certificate{
   border: 1.5px solid rgb(0, 0, 0);
}
/* radio button input customize */
label#radioBtn{
   margin: 4px 0px;
}